@font-face {
    font-family: 'Raleway';
    src: url('/assets/fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Raleway-extrabold';
    src: url('assets/fonts/Raleway-ExtraBold.ttf');
}

@font-face {
    font-family: 'Raleway-semibold';
    src: url('assets/fonts/Raleway-SemiBold.ttf');
}

.normal {
    font-family: 'Raleway';
}

.extrabold {
    font-family: 'Raleway-extrabold';
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    max-width: 375px;
    margin: 0 auto;
    z-index: 9999;
    font-family: 'Raleway', Arial, sans-serif;
    border: 1px solid #d4d4d4;
}

.section__header {
    display: inline-flex;
    width: 100%;
    margin: 30px 0;
    padding: 20px;
}

.section__header span:first-child {
    color: #EF7D00;
    font-weight: 600;
    width: 20px;
}

.section__header span:nth-of-type(2) {
    display: block;
    height: 62px;
    width: 8.14px;
    margin: 0 15px;
    background-color: #EF7D00;
    font-weight: 600;
}

.section__header span:last-child {
    font-size: 33px;
    font-weight: 600;
}

.header__background {
    background-color: #FEF2E5;
    height: 450px;
    width: 375px;
    margin: 0 auto;
}

.nav__brand {
    padding-top: 20px;
    width: 170px;
    padding-left: 10px;
    height: auto;
}

.nav__brand--image {
    display: block;
    position: relative;
    height: 44.53px;
    z-index: 9999;
}

.nav__container,
.nav__container__page__privacy,
.nav__container__form {
    min-height: 70px;
    width: 100%;
    margin: 0 auto;
    height: auto;
    border-bottom: 1px solid #EF7D00;
}

.nav__container__page__privacy {
    border-bottom: none;
}

#menuToggle {
    display: block;
    position: relative;
    top: -40px;
    right: -290px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;
    overflow: hidden;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: #EF7D00;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 27px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 375px;
    height: 70vh;
    margin: -50px 0 0 -320px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
    width: 220px;
}

#menuToggle input:checked~ul {
    transform: none;
}

a.active::after {
    content: '';
    display: inline-block;
    height: 8px;
    width: 8px;
    margin-left: 15px;
    margin-bottom: 4px;
    background-color: #EF7D00;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    text-decoration: none;
}

header {
    position: relative;
    padding: 0 20px;
    overflow: hidden;
}

.hero__container {
    display: block;
    min-height: 300px;
    height: auto;
    padding: 0 20px;
}

.hero__title {
    font-size: 33px;
    padding-top: 40px;
    font-family: 'Raleway-extrabold';
}

.hero__image {
    display: block;
    position: relative;
    height: 350px;
    width: 100%;
}

.hero__image--bacteries {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
}

.hero__image--dog {
    display: block;
    position: absolute;
    height: 309px;
    left: 20px;
    bottom: 0;
    margin-bottom: 30px;
}

.ofert__container {
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 150px;
}

.ofert__element {
    display: block;
    border-radius: 8px;
    padding: 15px;
    width: 146px;
    height: 146px;
    margin: 7px;
    box-shadow: 0 5px 15px 5px hsl(0, 0%, 90%);
}

.ofert__element p {
    padding-top: 5px;
}

.mission__description {
    width: 375px;
    margin: 0 auto;
}

.mission__description--quote {
    display: block;
    position: relative;
    width: 312px;
    margin: 50px auto;
    background-color: #EF7D00;
    padding: 50px;
    color: white;
    border-radius: 8px;
}

.mission__description__quote--image {
    position: absolute;
    height: 20%;
}

.mission__description__quote--image:first-child {
    top: -25px;
    left: 30px;
}

.mission__description__quote--image:last-child {
    bottom: -25px;
    right: 30px;
}

.product__container--background {
    display: block;
    background-color: hsla(31, 100%, 80%, 0.20);
    padding-bottom: 40px;
    width: 375px;
    margin: 0 auto;
}

.product__header--image {
    display: block;
    width: 312px;
    height: 210px;
    margin: 0 auto;
}

.product__description,
.product__details,
.mission__description {
    display: block;
    margin: 0 auto 50px auto;
    width: 312px;
    font-size: 16px;
}

.product__details {
    background-color: hsla(31, 100%, 80%, 0.20);
    border-radius: 8px;
    padding: 40px 30px 80px 30px;
    margin: 50px auto;
    height: 380px;
    width: 312px;
}

.product__details__icon--plus {
    display: block;
    margin: 20px;
}

.product__details__icon--plus img {
    margin-left: 90%;
}

.font__weight--strong {
    font-weight: 600;
    margin: 10px 0;
}

.font__color--orange {
    color: #EF7D00;
}

.product__description__image__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.product__description__image__element {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #fff;
    margin: 7px;
    width: 146px;
    height: 146px;
    box-shadow: 0 1px 1px 1px hsl(0, 0%, 80%);
}

.product__description__image__element--img {
    width: 53.52px;
    height: 55px;
}

.product__description__image {
    display: block;
    margin: 0 auto;
    width: 311px;
    height: 322px;
}

.product__list {
    width: 312px;
    margin: 50px auto 0 auto;
}

.product__list li {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 80px;
    height: auto;
    border-bottom: 1px solid #d4d4d4;
}

.product__list li img {
    display: block;
    width: 70px;
}

.product__list li div {
    display: block;
}

.product__list li:last-child {
    border: none;
}

#more {
    text-transform: uppercase;
    width: 312px;
    margin: 20px auto;
}

.product__list--button {
    display: block;
    width: 312px;
    height: 59px;
    color: white;
    background-color: #EF7D00;
    border: none;
    margin: 0 auto 30px auto;
    text-align: center;
    transition: .3s;
}

.product__list--button:hover {
    background-color: white;
    color: #EF7D00;
    filter: drop-shadow(0 5px 10px #d4d4d4);
}

.product__list img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.product__description__image {
    display: block;
    overflow: hidden;
    position: relative;
    margin-bottom: -250px;
}

.product__description__image--bacteries {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.product__description__image--cat {
    display: block;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    z-index: 2;
}

.contact__container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 250px 20px 0 20px;
    background-color: hsla(31, 100%, 80%, 0.20);
}

.contact__orders--contact,
.contact__support--contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 312px;
    height: 393px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 40px;
    padding: 0 40px;
}

.contact__support--contact {
    height: 460px;
}

.contact__orders__contact--title {
    margin-bottom: 30px;
}

.contact__orders__contact--list:first-child {
    border-bottom: 1px solid #d4d4d4;
}

.contact__support__contact--list {
    margin-top: 20px;
}

.contact__support__contact--woman {
    padding-bottom: 15px;
    border-bottom: 1px solid #d4d4d4;
}

.contact__support__contact--men {
    margin-top: 15px;
}

.contact__support__button--dark {
    display: block;
    width: 310px;
    height: 70px;
    border: none;
    margin: 0 auto 40px auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1.3px;
    color: white;
    background-color: #EF7D00;
    filter: drop-shadow(0 5px 10px #EF7D00);
    transition: .3s;
}

.contact__support__button--dark:hover {
    background-color: white;
    color: #EF7D00;
    filter: drop-shadow(0 5px 10px #d4d4d4);
}

.contact__support__button--light {
    display: block;
    width: 232px;
    height: 40px;
    color: #EF7D00;
    background-color: #FEF7F0;
    border: none;
    border-radius: 8px;
    margin: 20px auto 20px auto;
    text-align: center;
    text-transform: uppercase;
    transition: .3s;
}

.contact__support__button--light:hover {
    background-color: #EF7D00;
    color: #FEF7F0;
}

.contact__orders__contact--list li,
.contact__support__contact--list li {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    align-items: center;
}

.contact__orders__contact--list li img,
.contact__support__contact--list li img {
    display: block;
    width: 38px;
    margin-right: 10px;
}

.contact__orders__contact--list li div,
.contact__support__contact--list li div {
    display: block;
}

.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    border-top: 1px solid #EF7D00;
    background-color: hsla(31, 100%, 80%, 0.13);
}

.footer__container div {
    margin: 5px 0;
}

.page__error,
.page__form {
    display: block;
    position: relative;
    width: 375px;
    margin: 0 auto;
    height: 92vh;
    overflow: hidden;
}

.page__form--nav {
    border-bottom: none;
}

.page__error__background--dark {
    background-color: #FEF7F0;
    height: 50vh;
}

.page__error__background--dark img:first-child {
    display: block;
    height: 40%;
    top: 20%;
    left: 0;
    position: absolute;
}

.page__error__background--dark img:last-child {
    display: block;
    width: 100%;
    top: 25%;
    left: 0;
    position: absolute;
}

.page__error__background--light {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background-color: #FFF;
    height: 50vh;
}

.page__error--title {
    display: flex;
    margin-top: 100px;
    font-size: 33px;
}

.page__form {
    font-family: 'Raleway';
}

.page__form__side--left {
    display: none;
}

.page__error--button {
    display: flex;
    margin-top: 60px;
}

.page__form--nav,
.page__privacy--nav {
    display: flex;
}

.page__form__close--button,
.page__privacy__close--button {
    display: inline-flex;
    margin-top: 20px;
    margin-left: 45%;
}

.page__form__close--button,
.page__privacy__close--button {
    display: flex;
    justify-content: end;
    width: 100%;
    padding-right: 10px;
}

.page__form__button--dark {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.page__form--title {
    font-size: 33px;
    margin: 50px 0 20px 20px;
}

input,
textarea {
    border: none;
    border-bottom: 1px solid #d4d4d4;
    width: calc(100% - 44px);
    margin: 0 20px 20px 20px;
    height: 80px;
}

form {
    margin-bottom: 30px;
}

#checkbox__form {
    width: 16px;
    height: 16px;
}

textarea {
    height: 150px;
    padding-bottom: 30px;
    font-family: 'Raleway';
}

.page__form--message {
    display: none;
}

.page__form__checkbox--wrapper {
    display: flex;
    font-size: 13px;
    padding-right: 20px;
    margin-top: 30px;
}

.page__form__button--dark {
    display: block;
    width: 310px;
    height: 70px;
    border: none;
    margin: 0 auto 40px auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1.3px;
    color: white;
    background-color: #EF7D00;
    filter: drop-shadow(0 5px 10px #EF7D00);
    transition: .3s;
}

.switch {
    display: flex;
    position: relative;
    margin-left: -260px;
}

.switch label {
    width: 313px;
    height: 70px;
    border: 1px solid #EF7D00;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.switch input[type="checkbox"] {
    visibility: hidden;
}

#switch__label {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.switch label:after {
    content: '';
    width: 16px;
    height: 70px;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: 100ms;
    background-color: #EF7D00;
}

.switch .look:checked+label:after {
    left: 295px;
}

.page__form--buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.page__privacy {
    padding: 0 20px 40px 20px;
}

.page__privacy--title {
    font-size: 33px;
    margin: 40px 0 20px 0;
}

.page__privacy--subtitle {
    display: block;
    color: #EF7D00;
    margin: 30px 0 20px 0;
}

.page__privacy__list {
    margin: 10px 0;
}

.page__privacy__list li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 20px 0;
}

.page__privacy__list li img {
    margin-right: 15px;
}

.page__privacy--content {
    font-size: 16px;
    line-height: 26px;
}

@media (min-width:1920px) {
    body {
        width: 100%;
        max-width: 1920px;
    }
    .page__error,
    .page__form {
        width: 100%;
        height: 92.8vh;
    }
    .page__error__background--dark img:first-child {
        height: 597px;
        left: 30%;
        top: 5%;
    }
    form {
        width: 492px;
        margin: 0 auto;
    }
    .page__form--title {
        display: inline-flex;
        text-align: left;
        font-size: 33px;
    }
    .page__form {
        display: flex;
    }
    .page__form--buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 40px;
        width: 492px;
    }
    .switch {
        margin-left: 0;
    }
    .switch .look:checked+label:after {
        left: 220px;
    }
    .page__privacy {
        width: 748px;
        margin: 0 auto;
    }
    .page__form__side--right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 1100px;
    }
    .page__form__side--left {
        display: block;
        position: relative;
        width: 805px;
        background-color: hsla(31, 100%, 80%, 0.13);
    }
    .page__form__button--dark {
        display: block;
        width: 236px;
        margin-top: 7px;
        margin-left: 200px;
    }
    .switch label {
        display: block;
        width: 236px;
    }
    .page__form__background--color {
        display: flex;
        width: 805px;
        height: 100%;
        position: absolute;
        z-index: 0;
        margin-left: -20px;
        background-color: hsla(31, 100%, 80%, 0.13);
    }
    .page__form__side--left img:first-child {
        display: block;
        position: absolute;
        margin: 100px auto 0 220px;
    }
    .page__form__side--left img:last-child {
        display: block;
        position: absolute;
        margin: 100px auto 0 160px;
    }
    .page__form--message {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 50px;
        margin-left: 20px;
        margin-bottom: -20px;
        color: #EF7D00;
        padding: 15px 10px;
        border-radius: 8px;
        background-color: #FEF7F0;
        font-size: 16px;
    }
    .page__form__side__right__wrapper {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 492px;
    }
}